
/* ===== Basic reset ===== */
* { box-sizing: border-box; }
html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif, Arial;
    color: #000;
  }
  
  body{
    width: 100%;
    background-image: url("styles/aum3.jpg");
    background-repeat: no-repeat;
    background-size: cover;          
    background-attachment: fixed; 
    /* background-position: center;   fill the screen, keep aspect */
  }

.page {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    background: #efefef;
    border: 2px solid #333;
}

.header {
    display: grid;
    grid-template-columns: 120px 1fr; 
    background: #d9d9d9;              
    border-bottom: 1px solid #333;
}

.logo-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-right: 1px solid #333;
}
.logo-cell img {
    max-width: 80%;
    
    display: block;
}

.right-head { display: flex; flex-direction: column; }

.titlebar {
    background: linear-gradient(90deg, #f3e0d1 0%, #ff7b00 40%, #ff6600 70%, #ff6600 100%);
    padding: 15px 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #333;
}
.titlebar h1 {
    margin: 0;
    padding-left: 50px;
    text-align:left;
    font-size: 34px;     
    font-weight: 700;
    letter-spacing: .5px;
    color: #000;
  }

.nav {
    background: #000; 
   
}
.nav ul {
    margin: 0;
    padding: 0;          
    list-style: none;
    display: flex;
    height: 35px;
    align-items: stretch;
    justify-content: space-evenly;
    font-size: 15px; 
}
.nav li{
    height: 100%;
}
.nav a {
    display: flex;          
    align-items: center;     
    height: 100%;            
    padding: 0 40px;        
    text-decoration: none;
    color: #fff;
}
.nav a.active { color: #ff7a00; }
.nav a:hover { background: #bfbfbf; color: #000; }




.site-footer {
    border-top: 1px solid #000;
    background-color: #ff7b00;
    padding: 6px 25px 8px 25px;
    font-size: 13px;
}

.footer-inner {
    display: flex;
    align-items: flex-start;
}

.footer-contact {
    line-height: 1.3;
    padding-top: 6px;
    padding-bottom: 6px;
}

.footer-name {
    margin: 0 auto;         
    text-align: center;
    padding-top: 6px;
}

.footer-name p {
    margin: 0;
    font-size: 13px;
}

.footer-social {
    padding-top: 6px;
}

.footer-social img {
    width: 30px;
    vertical-align: top;
    margin-left: 8px;
}
