
   .ta-main {
    background: #d9d9d9;
    padding: 20px 0;
}

.ta-form-box {
    width: 500px;
    max-width: 100%;
    margin: 0 auto ;

    padding: 20px 30px 25px;
    background: #d9d9d9;
    border-top: 2px solid #c4c4c4;
    border-bottom: 2px solid #c4c4c4;
    border-left: 2px solid #ffa98f;
    border-right: 2px solid #ffa98f;
}

.ta-form-box h2 {
    margin: 0 0 15px 0;
    font-size: 24px;
    padding-bottom: 15px;
}

.ta-form-box h3 {
    margin: 0 0 12px 0;
    font-size: 20px;
}

.ta-form {
    font-size: 14px;
}

.ta-row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.ta-row label,
.ta-label {
    width: 80px;            
}

.ta-row input[type="text"] {
    width: 130px;
    height: 20px;
    box-sizing: border-box;
}

#gpa {
    width: 45px;
}

.ta-gender-row {
    align-items: center;
}

.gender-option {
    margin-right: 5px;
    font-size: 14px;
}
.ta-row label.gender-option {
    width: 40px;        
    margin-right: 5px;  
}
.gender-box {
    width: 10px;    /* box width  */
    height: 10px;   /* box height */
}
.ta-comments-row {
    align-items: flex-start;
}

.ta-comments-row textarea {
    width: 130px;
    height: 80px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
}

.ta-row input[type="text"] {
    border: 1px solid #c4c4c4;   /* light gray border */
}
.ta-thanks {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 0 15px;
    font-weight: bold;
}

.ta-buttons {
    text-align: left;
    
}

.ta-buttons button {
    margin: 0 30px;
    margin-right: 25PX;
    padding: 10px 25px;
    border: 1px solid #c4c4c4;

}
